@import "../../vars.scss";

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $light-grey;

    > *:not(:first-child) {
        padding: 20px;
    }

    &-info {
        display: flex;
        justify-content: space-between;

        &-name {
            font-size: 1.3rem;
        }
    
        &-price {
            display: flex;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    &-controls {
        display: flex;
        justify-content: center;

        button {
            line-height: 1;
            font-weight: 700;
            background-color: rgba($tertiary-color, 0.5);

            &.product-controls-add {
                width: 50%;
                color: $white;
                padding: 10px;
                font-size: 1rem;
                background-color: $primary-color;
            }

            &.product-controls-increment, &.product-controls-decrement {
                font-size: 2rem;
                color: $secondary-color;
            }
        }

        &-box {
            width: 40px;
            height: 40px;
            border: 2px solid darken($tertiary-color, 10%);
            background-color: $white;
        }

        &-counter {
            width: 30px;
            height: 40px;
            padding: 10px 0;
            display: inline-block;
            line-height: 1;
            font-weight: 700;
            text-align: center;
            vertical-align: top;
        }
    }
}