.checkout {
    display: flex;
    align-items: center;
    flex-direction: column;

    > * {
        margin: 20px auto;
    }

    &-items {
        text-align: center;
    }

    button {
        padding: 10px 20px;
    }
}